<head th:fragment="header">
    <title th:text="${@textConstant.title}"></title>

    <meta name="csrf-token" th:content="${_csrf.token}"/>
    <meta name="csrf-header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>

    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>