<div class="d-flex" th:fragment="sidebar">
  <nav class="position-fixed vh-100 bg-success shadow sidebar">
    <div class="py-3 text-center logo">
      <img class="img-fluid bg-white rounded-circle p-2 shadow" th:src="@{/img/logo.png}">
    </div>

    <div class="menu mt-3">
      <a class="d-flex text-white px-4 py-2 text-decoration-none" href="/dashboard">
        <i class="bi bi-house-door fs-5"></i>
        <span class="fs-6 mt-1 ms-2 text-nowrap" th:text="${@textConstant.dashboard}"></span>
      </a>

      <a class="d-flex text-white px-4 py-2 text-decoration-none" href="/modal">
        <i class="bi bi-cash fs-5"></i>
        <span class="fs-6 mt-1 ms-2 text-nowrap" th:text="${@textConstant.modal}"></span>
      </a>

      <a class="d-flex text-white px-4 py-2 text-decoration-none" href="/barang">
        <i class="bi bi-boxes fs-5"></i>
        <span class="fs-6 mt-1 ms-2 text-nowrap" th:text="${@textConstant.barang}"></span>
      </a>

      <th:block th:if="${pengguna.role.name() == 'ADMIN'}">
        <a class="d-flex text-white px-4 py-2 text-decoration-none" href="/anak-buah">
          <i class="bi bi-people fs-5"></i>
          <span class="fs-6 mt-1 ms-2 text-nowrap" th:text="${@textConstant.anakBuah}"></span>
        </a>
      </th:block>

      <a class="d-flex text-white px-4 py-2 text-decoration-none" href="/transaksi-masuk">
        <i class="bi bi-box-arrow-in-down fs-5"></i>
        <span class="fs-6 mt-1 ms-2 text-nowrap" th:text="${@textConstant.transaksiMasuk}"></span>
      </a>

      <th:block th:if="${pengguna.role.name() == 'ADMIN'}">
        <a class="d-flex text-white px-4 py-2 text-decoration-none" href="/transaksi-keluar">
          <i class="bi bi-box-arrow-up fs-5"></i>
          <span class="fs-6 mt-1 ms-2 text-nowrap" th:text="${@textConstant.transaksiKeluar}"></span>
        </a>
      </th:block>

      <a class="d-flex text-white px-4 py-2 text-decoration-none" href="/rekapitulasi-laporan">
        <i class="bi bi-file-earmark-text fs-5"></i>
        <span class="fs-6 mt-1 ms-2 text-nowrap" th:text="${@textConstant.rekapitulasiLaporan}"></span>
      </a>
    </div>

    <div class="position-absolute bottom-0 w-100 p-3 toggle-btn">
      <i class="bi bi-arrow-left-circle fs-5 text-white p-2 rounded-circle"></i>
    </div>
  </nav>
</div>