<div class="p-3 content" th:fragment="anak-buah">
    <th:block th:fragment="reload">
        <div th:replace="~{components/content-title::title(bi-people,
                        ${@textConstant.dataAnakBuah}, ${@textConstant.deskripsiAnakBuah})}"></div>

        <div th:replace="~{components/content-search::search(${@textConstant.cariAnakBuah})}"></div>

        <div th:if="${#lists.isEmpty(dataAnakBuah.content)}"
             th:insert="~{components/no-data::no-data}"></div>

        <div class="mt-3" th:if="${!#lists.isEmpty(dataAnakBuah.content)}">
            <table class="table table-sm table-bordered align-middle small">
                <thead class="table-success">
                    <tr>
                        <th th:text="${@textConstant.no}"></th>
                        <th th:text="${@textConstant.namaAnakBuah}"></th>
                        <th th:text="${@textConstant.nomorWhatsApp}"></th>
                        <th th:text="${@textConstant.aksi}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="anakBuah, iterStat : ${dataAnakBuah.content}"
                        th:data-id="${anakBuah.id}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${anakBuah.nama}"></td>
                        <td th:with="noWA=${#strings.replace(anakBuah.nomorWhatsApp, '^0', '62')}">
                            <a th:href="'https://wa.me/' + ${noWA}"
                               th:text="${noWA}"
                               target="_blank">
                            </a>
                        </td>
                        <td>
                            <button th:replace="~{components/btn-edit::edit('#anakBuah', ${@textConstant.editAnakBuah}, ${anakBuah})}"></button>
                            <button th:replace="~{components/btn-delete::delete(${@textConstant.hapusAnakBuah}, ${anakBuah})}"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${!#lists.isEmpty(dataAnakBuah.content) && dataAnakBuah.totalPages > 1}"
             th:insert="~{components/content-pagination::pagination(${dataAnakBuah})}"></div>

        <div th:insert="~{components/btn-add::add('#anakBuah', ${@textConstant.tambahAnakBuah})}"></div>

        <div th:insert="~{dialogs/anak-buah::anak-buah}"></div>

        <div th:insert="~{dialogs/confirmation::confirmation}"></div>
    </th:block>
</div>