<div class="p-3 content" th:fragment="barang">
    <th:block th:fragment="reload">
        <div th:replace="~{components/content-title::title(bi-boxes,
                        ${@textConstant.dataBarang}, ${@textConstant.deskripsiBarang})}"></div>

        <div th:replace="~{components/content-search::search(${@textConstant.cariBarang})}"></div>

        <div th:if="${#lists.isEmpty(dataBarang.content)}"
             th:insert="~{components/no-data::no-data}"></div>

        <div class="table-responsive mt-3" th:if="${!#lists.isEmpty(dataBarang.content)}">
            <table class="table table-sm table-bordered align-middle small">
                <thead class="table-success">
                    <tr>
                        <th th:text="${@textConstant.no}"></th>
                        <th th:text="${@textConstant.namaBarang}"></th>
                        <th th:text="${@textConstant.hargaPerKg}"></th>
                        <th th:text="${@textConstant.aksi}"
                            th:if="${pengguna.role.name() == 'ADMIN'}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="barang, iterStat : ${dataBarang.content}"
                        th:data-id="${barang.id}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${barang.namaBarang}"></td>
                        <td th:text="${'Rp' + #numbers.formatInteger(barang.hargaPerKg, 0, 'POINT')}"></td>
                        <td th:if="${pengguna.role.name() == 'ADMIN'}">
                            <button th:replace="~{components/btn-edit::edit('#barang', ${@textConstant.editBarang}, ${barang})}"></button>
                            <button th:replace="~{components/btn-delete::delete(${@textConstant.hapusBarang}, '')}"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${pengguna.role.name() == 'ADMIN'}"
             th:insert="~{components/btn-add::add('#barang', ${@textConstant.tambahBarang})}"></div>

        <div th:if="${pengguna.role.name() == 'ADMIN'}"
             th:insert="~{dialogs/barang::barang}"></div>

        <div th:if="${pengguna.role.name() == 'ADMIN'}"
             th:insert="~{dialogs/confirmation::confirmation}"></div>
    </th:block>
</div>