<div id="rekapitulasiLaporan" class="p-3 content" th:fragment="rekapitulasi-laporan">
    <th:block th:fragment="reload">
        <div th:replace="~{components/content-title::title(bi-file-earmark-text,
                        ${@textConstant.dataRekapitulasiLaporan}, ${pengguna.role.name() == 'ADMIN'
                        ? @textConstant.deskripsiRekapitulasiLaporanAdmin : @textConstant.deskripsiRekapitulasiLaporanAnakBuah})}"></div>

        <div class="row mt-2">
            <div class="col d-flex justify-content-end">
                <div class="input-group flex-nowrap w-50 justify-content-end">
                    <div class="dropdown w-50">
                        <button type="button" class="form-control form-control-sm d-flex justify-content-between align-items-center" data-bs-toggle="dropdown">
                            <span id="jenisLaporan" th:text="${@textConstant.pilihLaporan}"></span>
                            <span class="dropdown-toggle-icon">
                                <i class="bi bi-caret-down-fill"></i>
                            </span>
                        </button>

                        <ul class="dropdown-menu py-0 w-100">
                            <li th:data-value="${@attributeConstant.modal}"
                                th:text="${@textConstant.dataModal}"
                                class="dropdown-item small rounded">
                            </li>

                            <li th:data-value="${@attributeConstant.transaksiMasuk}"
                                th:text="${@textConstant.transaksiMasuk}"
                                class="dropdown-item small rounded">
                            </li>

                            <li th:data-value="${@attributeConstant.transaksiKeluar}"
                                th:if="${pengguna.role.name() == 'ADMIN'}"
                                th:text="${@textConstant.transaksiKeluar}"
                                class="dropdown-item small rounded">
                            </li>
                        </ul>
                    </div>

                    <button type="search" class="btn btn-sm btn-success">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div th:if="${(dataModal == null or #lists.isEmpty(dataModal)) and (dataTransaksiMasuk == null or #lists.isEmpty(dataTransaksiMasuk)) and (pengguna.role.name() == 'ADMIN' and (dataTransaksiKeluar == null or #lists.isEmpty(dataTransaksiKeluar)))}"
             th:insert="~{components/no-data::no-data}"></div>

        <div class="mt-3"
            th:if="${(dataModal != null and !#lists.isEmpty(dataModal)) or (dataTransaksiMasuk != null and !#lists.isEmpty(dataTransaksiMasuk)) or (pengguna.role.name() == 'ADMIN' and dataTransaksiKeluar != null and !#lists.isEmpty(dataTransaksiKeluar))}">
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex flex-column align-items-start">
                    <button class="btn btn-sm btn-outline-danger pdf">
                        <i class="bi bi-file-earmark-pdf"></i>
                        <span th:text="${@textConstant.exportPDF}"></span>
                    </button>

                    <small class="text-muted fst-italic note py-1">
                        <span class="fw-bold text-danger">*</span>
                        <span th:text="${@textConstant.catatanLaporan}"></span>
                    </small>
                </div>

                <h6 class="mb-0 align-self-end fw-bold" th:text="${@textConstant.total}"></h6>
            </div>

            <table class="table table-sm table-bordered align-middle small"
                th:if="${dataModal != null && !dataModal.isEmpty()}"
                th:data-value="${@parse.toJSON(dataModal)}"
                th:id="${@attributeConstant.modal}">
                <thead class="table-success">
                    <tr>
                        <th th:text="${@textConstant.no}"></th>
                        <th th:text="${@textConstant.namaAnakBuah}"
                            th:if="${pengguna.role.name() == 'ADMIN'}"></th>
                        <th th:text="${@textConstant.totalModal}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="modal, iterStat : ${dataModal}"
                        th:if="${iterStat.index < 5}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${modal['anakBuah'].nama}"
                            th:if="${pengguna.role.name() == 'ADMIN'}"></td>
                        <td th:text="${'Rp' + #numbers.formatInteger(modal['totalModal'], 0, 'POINT')}"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm table-bordered align-middle small"
                th:if="${dataTransaksiMasuk != null && !dataTransaksiMasuk.isEmpty()}"
                th:data-value="${@parse.toJSON(dataTransaksiMasuk)}"
                th:id="${@attributeConstant.transaksiMasuk}">
                <thead class="table-success">
                    <tr>
                        <th th:text="${@textConstant.no}"></th>
                        <th th:text="${@textConstant.namaBarang}"></th>
                        <th th:text="${@textConstant.totalBeratKg}"></th>
                        <th th:text="${@textConstant.totalHarga}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="transaksiMasuk, iterStat : ${dataTransaksiMasuk}"
                        th:if="${iterStat.index < 5}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${transaksiMasuk['barang'].namaBarang}"></td>
                        <td th:text="${transaksiMasuk['totalBerat'].intValue()}"></td>
                        <td th:text="${'Rp' + #numbers.formatInteger(transaksiMasuk['totalHarga'], 0, 'POINT')}"></td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm table-bordered align-middle small"
                th:if="${dataTransaksiKeluar != null && !dataTransaksiKeluar.isEmpty()}"
                th:data-value="${@parse.toJSON(dataTransaksiKeluar)}"
                th:id="${@attributeConstant.transaksiKeluar}">
                <thead class="table-success">
                    <tr>
                        <th th:text="${@textConstant.no}"></th>
                        <th th:text="${@textConstant.namaBarang}"></th>
                        <th th:text="${@textConstant.totalBeratKg}"></th>
                        <th th:text="${@textConstant.totalHargaJual}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="transaksiKeluar, iterStat : ${dataTransaksiKeluar}"
                        th:if="${iterStat.index < 5}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:text="${transaksiKeluar['barang'].namaBarang}"></td>
                        <td th:text="${transaksiKeluar['totalBerat'].intValue()}"></td>
                        <td th:text="${'Rp' + #numbers.formatInteger(transaksiKeluar['totalHarga'], 0, 'POINT')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>