<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{partials/header::header}"></head>

    <body>
        <div th:replace="~{partials/sidebar::sidebar}"></div>
        <div th:replace="~{partials/topbar::topbar}"></div>

        <main th:switch="${path}">
            <th:block th:if="${pengguna.role.name() == 'ADMIN'}">
                <div th:case="'/kelola-akun'" th:insert="~{fragments/kelola-akun::kelola-akun}"></div>
                <div th:case="'/anak-buah'" th:insert="~{fragments/anak-buah::anak-buah}"></div>
            </th:block>

            <th:block th:unless="${pengguna.role.name() == 'ADMIN'}">
                <div th:case="'/profil'" th:insert="~{fragments/profil::profil}"></div>
            </th:block>

            <div th:case="'/modal'" th:insert="~{fragments/modal::modal}"></div>
            <div th:case="'/barang'" th:insert="~{fragments/barang::barang}"></div>
            <div th:case="'/transaksi-masuk'" th:insert="~{fragments/transaksi-masuk::transaksi-masuk}"></div>
        </main>

        <div th:replace="~{partials/footer::footer}"></div>
    </body>
</html>