<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${@textConstant.title}"></title>

        <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

        <script type="text/javascript" th:src="@{/js/app.js}"></script>
    </head>

    <body class="d-flex justify-content-center align-items-center min-vh-100 bg-success bg-gradient overflow-hidden">
        <div class="text-center bg-light rounded-5 shadow px-5 py-3 w-25">
            <img class="img-fluid" th:src="@{/img/logo.png}">
            <div class="spinner-border text-success mt-0"></div>
        </div>
    </body>
</html>