/*~~ General ~~*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Arial", sans-serif;
}

main {
    flex: 1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #F2F2F2FF #FFFFFFFF;
}

.form-control {
    box-shadow: none !important;
    border-width: 1.3px !important;
}
.form-control:focus {
    box-shadow: none !important;
    border-width: 1.3px !important;
    border-color: #198754 !important;
}

.tooltip-inner {
    font-size: 12px;
}

.dropdown-item:active {
    background-color: #198754FF;
    color: #FFFFFFFF;
}

.flatpickr-calendar {
    font-size: 12px;
    border-radius: 10px;
}
.flatpickr-calendar .flatpickr-months {
    background-color: #198754FF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.flatpickr-calendar .flatpickr-prev-month svg,
.flatpickr-calendar .flatpickr-next-month svg {
    margin-bottom: 15px;
    fill: #FFFFFFFF;
}
.flatpickr-calendar .flatpickr-prev-month:hover,
.flatpickr-calendar .flatpickr-next-month:hover {
    background-color: #0A6C22FF;
}
.flatpickr-calendar .flatpickr-prev-month:hover {
    border-top-left-radius: 10px;
}
.flatpickr-calendar .flatpickr-next-month:hover {
    border-top-right-radius: 10px;
}
.flatpickr-calendar .flatpickr-prev-month svg:hover,
.flatpickr-calendar .flatpickr-next-month svg:hover {
    fill: #FFFFFFFF;
}
.flatpickr-calendar .flatpickr-current-month {
    font-size: medium;
    color: #FFFFFFFF;
}
.flatpickr-calendar .flatpickr-monthDropdown-months,
.flatpickr-calendar .flatpickr-current-month select:hover {
    background-color: #198754FF;
}
.flatpickr-calendar .flatpickr-monthDropdown-months option {
    font-size: 12px;
}
.flatpickr-calendar .flatpickr-weekdays {
    background-color: #19875480;
    font-size: 10px;
}
.flatpickr-calendar .flatpickr-day:hover {
    background-color: #0A6C22FF;
    color: #FFFFFFFF;
}
.flatpickr-calendar .flatpickr-day.selected {
    background-color: #198754FF;
}
.flatpickr-calendar .flatpickr-day:nth-child(7n),
.flatpickr-calendar .flatpickr-weekday:nth-child(7) {
    color: #DC3545FF;
}

/*~~ LOGIN ~~*/
.login {
    width: 25%;
    transition: width 0.3s;
}
.login.show {
    width: 100%;
    overflow: hidden;
    max-width: 400px;
}
.login img {
    max-width: auto;
    transition: max-width 0.3s;
}
.login.show img {
    max-width: 130px;
}
.login form {
    display: none;
    transition: display 0.3;
}
.login.show form {
    display: block;
}

/*~~ DASHBOARD ~~*/
.sidebar {
    width: 250px;
    transition: width 0.3s;
}
.sidebar.collapsed {
    width: 70px;
}
.sidebar .logo img {
    width: 100px;
    height: 100px;
    transition: width 0.3s, height 0.3s;
}
.sidebar.collapsed .logo img {
    width: 50px;
    height: 50px;
}
.sidebar a:hover, .sidebar-active {
    font-weight: 500;
    background-color: #0A6C22FF;
}
.sidebar a span {
    opacity: 1;
    display: block;
    transition: opacity 0.3s, display 0.3s;
}
.sidebar.collapsed a span {
    opacity: 0;
    display: none;
}
.sidebar .toggle-btn {
    text-align: end;
    transition: transform 0.3s, text-align 0.3s;
}
.sidebar.collapsed .toggle-btn {
    text-align: center;
    transform: scaleX(-1);
}
.sidebar .toggle-btn i:hover {
    cursor: pointer;
    background-color: #0A6C22FF;
}

.topbar {
    margin-left: 250px;
    transition: margin-left 0.3s;
}
.topbar.collapsed {
    margin-left: 70px;
}
.topbar .toggle-profile:hover {
    cursor: pointer;
    background-color: #F2F2F2FF;
}
.topbar .profile {
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.3s ease;
}
.topbar .profile.show {
    transform: scale(1);
}
.topbar .profile a {
    color: #6C757DFF;
}
.topbar .profile a:hover {
    color: #000000FF;
    background-color: #F2F2F2FF;
}

.content {
    margin-left: 250px;
    transition: margin-left 0.3s;
}
.content.collapsed {
    margin-left: 70px;
}
.content .search {
    max-width: 250px;
}
.content .no-data {
    height: 50vh;
}
.content .btn-add {
    width: 60px;
    height: 60px;
    transition: width 0.3s, height 0.3s;
}
.content .btn-add:hover {
    width: 65px;
    height: 65px;
}
.content .row-add-data td {
    animation: popEffect 1.5s ease;
}
.content .row-edit-data td {
    animation: fadeHighlight 1.5s ease;
}
.content .row-delete-data td {
    animation: fadeOutHighlight 1.5s ease;
}
.content .pagination .page-item .page-link {
    background-color: #FFFFFFFF;
    color: #198754FF;
    cursor: pointer;
}
.content .pagination .page-item .page-link:hover {
    background-color: #D1E7DDFF;
}
.content .pagination .page-item.dots .page-link {
    background-color: #FFFFFFFF;
    cursor: default;
}
.content .pagination .page-item.active .page-link {
    border: 1px solid #198754FF;
    background-color: #198754FF;
    color: #FFFFFFFF;
    cursor: default;
}
.content .pagination .page-item.disabled .page-link {
    background-color: #F2F2F2FF;
    color: #6C757DFF;
    cursor: default;
}

.footer {
    margin-left: 250px;
    transition: margin-left 0.3s;
}
.footer.collapsed {
    margin-left: 70px;
}

/*~~ ANIMATION EFFECT ~~*/
@keyframes popEffect {
    0% {
        transform: scale(1.10);
        background-color: #D1E7DDFF;
        border: 1px solid #198754FF;
    }
    50% {
        transform: scale(1.05);
        background-color: #D1E7DD80;
        border: 0.5px solid #19875480;
    }
    100% {
        transform: scale(1);
        background-color: transparent;
        border: 1px solid #F2F2F2FF;
    }
}

@keyframes fadeHighlight {
    0% {
        background-color: #FFF3CDFF;
        border: 1px solid #FFC107FF;
    }
    50% {
        background-color: #FFF3CD80;
        border: 0.5px solid #FFC10780;
    }
    100% {
        background-color: transparent;
        border: 1px solid #F2F2F2FF;
    }
}

@keyframes fadeOutHighlight {
    0% {
        opacity: 1;
        background-color: #F8D7DAFF;
        border: 1px solid #DC3545FF;
    }
    50% {
        opacity: 0.5;
        background-color: #F8D7DA80;
        border: 0.5px solid #DC354580;
    }
    100% {
        opacity: 0;
        background-color: transparent;
        border: 0px solid transparent;
    }
}